.heading {
  text-align: left;
  margin-top: 0;
  padding-left: 5rem;
  text-transform: uppercase;
  background: #79b205;
  border-radius: 1rem;
  position: sticky;
  top: 0;
  height: 3rem;
  align-items: center;
  display: flex;
  z-index: 1;
}

/* Navigation bar CSS */
.nav-bar {
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}

.nav-list-left,
.nav-list-right {
  display: flex;
  width: 25%;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  font-size: 20px;
  align-items: center;
}

.nav-title {
  font-size: 42px;
  margin: 5px 0 0 0;
}

.nav-title-1 {
  font-size: 42px;
  margin: 5px 0 0 0;
  color: #79b205;
}

a {
  text-decoration: none;
}

/* Home CSS  */

.home {
  padding: 1rem;
}

.home-container {
  display: flex;
  align-items: center;
  padding: 5rem;
}

.home-content h3{
  font-size: 7rem;
  margin: 0;
  text-align: center;
  color: #79b205;
}

.home-photo img{
  width: 30rem;
  height: 30rem;
}

/* About Me CSS */
.contact-us-content a img {
  cursor: pointer;
  color: #fff;
  transition: .5s ease;
}

.contact-us-content a img:hover {
  scale: 1.5;
}

.about-me {
  padding: 1rem;
  background-color: #79b205;
}

.about-me h1 {
  background-color: #09090a;
}

.about-me-container {
  align-items: center;
  display: grid;
  grid-template-columns: 15% 30% 55%;
  justify-items: center;
}

.about-me-my-photo img {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  border: #09090a solid 5rem;
}

.content-heading {
  font-size: 5rem;
  margin: 0;
  text-align: left;
  color: #fff;
}

.content-para {
  font-size: 24px;
  font-weight: 500;
  text-align: justify;
  color: #09090a;
}

.contact-us-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 1rem;
  background-color: #09090a;
}

/* work-ex */

.work-ex {
  background-color: #09090a;
  padding: 1rem;
}

.work-ex-content {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  width: 100%;
}

.work-ex-main-content-left {
  grid-column: 1;
}

.work-ex-main-content-right {
  grid-column: 3;
  grid-row: 1;
}

.work-ex-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4rem;
  background-color: #fff;
}

.work-ex-main-content-left,
.work-ex-main-content-right {
  h3,
  p {
    margin: 0;
    text-align: center;
    color: #09090a;
    font-size: 20px;
    font-weight: 500;
  }
}

.work-ex-content-heading {
  display: flex;
  justify-content: center;
}

.work-ex-content-heading-1 {
  color: #79b205 !important;
}

.line {
  border-left: solid 1px #fff;
  margin-left: 25px;
  height: 10rem;
}

.line-last {
  border-left: solid 1px transparent;
  left: 50%;
  margin-left: 25px;
  height: 10rem;
}

.circle {
  border: solid 10px #79b205;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  color: #09090a;
  margin: 5px;
}

.circle-line {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  flex-wrap: wrap;
  align-content: center;
}

/* content-3 */
.projects {
  background-color: #09090a;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.projects h1 {
  background-color: #79b205;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff ;
  height: 100%;
  width: 100%;
  min-height: 18rem;
  justify-self: center; 
  border-radius: 1rem;
  cursor: pointer;
}

.project-div:nth-child(even) {
  grid-column: 2;
  grid-row: 2;
}

.project-div:nth-child(odd) {
  grid-column: 1;
}

.project-name {
  border-radius: 100%;
  color: #79b205;
  font-size: 36px;
  text-align: center;
}

.project-description {
  color: #09090a;
  font-size: 20px;
  text-align: center;
}

.project-div a {
    text-align: center;
}


/* transition */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity ease 5s, transform 1s ease-in;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.nav-icon {
  display: none;
}

.nav-panel {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

/* Media-queries */

@media screen and (max-width: 767px) {
  .cross-icon {
    display: none;
    justify-content: flex-end;
    margin: 5px 5px 0 0;
  }

  .nav-list-left,
  .nav-list-right {
    display: none;
  }

  .nav-icon {
    display: block;
  }

  .nav-panel {
    background-color:#09090abe;
    height: 100%;
    position: fixed;
    z-index: 101;
    display: none;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
  }

  .nav-panel-container {
    width: 70%;
    background-color: #09090a;
    height: 100%;
  }

  .nav-bar {
    display: flex;
    justify-content: flex-start;
  }

  .nav-title {
    text-align: center;
    margin: 0 10px 0 ;
  }

  .nav-icon {
    margin-left: 20px;
    align-items: center;
  }

  .nav-list {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  .nav-list-name {
    text-align: center;
    line-height: 3rem;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
  }

  .home-content h3{
    text-align: left;
  }

  .home-photo img{
    width: 15rem !important;
    height: 15rem !important;
  }
  .about-me-my-photo img {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    border: #09090a solid 2rem;
  }
  .work-ex-main-content-right,
  .work-ex-main-content-left {
    border-radius: 3rem;
  }

  .project-1, .project-2, .project-3 {
    flex-direction: column;
    height: 16rem;
  }

  .project-description {
    height: 100%;
  }

  .project-name {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) { 

  .home-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .home-content h3{
    font-size: 5rem;
  }

  .home-photo img{
    width: 30rem;
    height: 30rem;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
  }

  .contact-us-content {
    flex-direction: row;
    width: 80%;
  }

  .about-me-main-container h1 {
    justify-content: center;
    padding: 0;
  }

  .work-ex h1 {
    justify-content: center;
    padding-left: 0;
  }

  .project h1 {
    justify-content: center;
    padding-left: 0;
  }

  .work-ex-content-heading {
    flex-direction: column;
  }
}
