.heading {
  text-align: left;
  margin-top: 0;
  padding-left: 5rem;
  text-transform: uppercase;
  background: #8ac80b;
  border-radius: 1rem;
  position: sticky;
  top: 0;
  height: 3rem;
  align-items: center;
  display: flex;
  z-index: 1;
}

/* Navigation bar CSS */
.nav-bar {
  width: 100%;
  height: 50px;
  color: #8ac80b;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.nav-list-left,
.nav-list-right {
  display: flex;
  width: 25%;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  font-size: 20px;
  align-items: center;
}

.nav-title {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* About Me CSS */
#icon {
  cursor: pointer;
  color: #e0e0e0;
}

.about-me {
  padding: 1rem;
  color: #e0e0e0;
}

.about-me-container {
  align-items: center;
  display: grid;
  grid-template-columns: 15% 30% 55%;
  justify-items: center;
}

.about-me-my-photo {
  padding: 2rem;
  height: 65%;
  width: 20rem;
  background-color: white;
  border-radius: 2rem;
}

.about-me-my-photo img {
  object-fit: contain;
  width: 120%;
  height: 130%;
  border-radius: 2rem;
}

.content-heading {
  font-size: 20px;
  margin: 0;
}

.content-heading-1 {
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.content-heading-1-a {
  font-size: 40px;
  margin: 0;
  text-align: right;
  color: #8ac80b;
}

.content-para {
  font-size: 20px;
  text-align: justify;
}

.contact-us-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 2rem;
}

.contact-us-content i {
  color: #292a2b;
}

/* work-ex */

.work-ex {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.work-ex-container {
  display: flex;
  color: #8ac80b;
  flex-direction: column;
}
.work-ex-content {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  width: 100%;
}
.work-ex-main-content-left {
  grid-column: 1;
}
.work-ex-main-content-right {
  grid-column: 3;
  grid-row: 1;
}
.work-ex-main-content-right,
.work-ex-main-content-left {
  box-sizing: border-box;
  box-shadow: 10px 10px 30px 5px rgb(110, 105, 105);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4rem;
  border: #292a2b solid 1px;
  background-color: #292a2b;
}

.work-ex-main-content-left,
.work-ex-main-content-right {
  h3,
  p {
    margin: 0;
    text-align: center;
    color: #e0e0e0;
  }
}
.work-ex-content-heading {
  display: flex;
  justify-content: center;
}
.work-ex-content-heading-1 {
  color: #8ac80b !important;
}

.line {
  border-left: solid 1px #292a2b;
  left: 50%;
  margin-left: 25px;
  height: 10rem;
}
.line-last {
  border-left: solid 1px transparent;
  left: 50%;
  margin-left: 25px;
  height: 10rem;
}

.circle {
  border: solid 10px #8ac80b;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  color: #292a2b;
  margin: 5px;
}

.circle-line {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  flex-wrap: wrap;
  align-content: center;
}

/* content-3 */
.project {
  background-color: #292a2b;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.project-container {
  padding: 5rem;
}

.project-number-1,
.project-number-2,
.project-number-3 {
  background-color: #e0e0e0;
  color: #292a2b;
  width: 15rem;
  height: 15rem;
  margin: 10px;
  padding: 10px;
  border-radius: 2rem;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-row-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* transition */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity ease 5s, transform 1s ease-in;
}
.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.nav-icon {
  display: none;
}
.nav-panel {
  display: none;
}
.no-scroll {
  overflow: hidden;
}
/* Media-queries */

@media screen and (max-width: 767px) {
  .cross-icon {
    display: none;
    justify-content: flex-end;
    margin: 5px 5px 0 0;
  }

  .nav-icon {
    display: block;
  }

  .nav-panel {
    background-color: #292a2bc8;
    height: 100%;
    position: fixed;
    z-index: 101;
    display: none;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
  }

  .nav-panel-container {
    width: 70%;
    background-color: #292a2b;
    height: 100%;
  }
  .nav-list-left,
  .nav-list-right {
    display: none;
  }

  .nav-bar {
    display: grid;
    margin-top: 5px;
    grid-template-columns: 10% 90%;
  }

  .nav-icon {
    margin-left: 20px;
    align-items: center;
  }

  .nav-list {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  .nav-list-name {
    justify-content: left;
    padding-left: 5rem;
    align-items: center;
    display: flex;
    background-color: #8ac80b;
    line-height: 3rem;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
  }
  .work-ex-main-content-right,
  .work-ex-main-content-left {
    border-radius: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
  }
  .contact-us-content {
    flex-direction: row;
    width: 80%;
  }
  .about-me {
    height: auto;
  }
  .about-me-my-photo {
    background: none;
    padding: 0;
  }
  .about-me-my-photo img {
    width: 100%;
  }
  .about-me-main-container h1 {
    justify-content: center;
    padding: 0;
    /* margin: 15px; */
  }
  .work-ex h1 {
    justify-content: center;
    padding-left: 0;
  }
  .work-ex-content-heading {
    flex-direction: column;
  }
  .project h1 {
    justify-content: center;
    padding-left: 0;
  }
}
